/**************BASE DU FORUM**********/
body {font-family: poppins;background-attachment: fixed!important;font-size: 11px;font-weight: 600;
    background-image: linear-gradient(to bottom, rgba(242, 242, 242, 0.55), rgb(242 242 242 / 65%), rgb(242 242 242 / 75%), rgba(var(--accent1), .17), rgba(var(--accent2), .17)), url(https://images2.imgbox.com/9a/82/5FajML6H_o.png);
    color: #545454; background-size: cover;  margin: 0px;}

@font-face {font-family: "magnaregular";src: url("https://assets.codepen.io/2434198/magna-webfont.woff2")format("woff2"),
url("https://assets.codepen.io/2434198/magna-webfont.woff") format("woff");font-weight: normal;font-style: normal;}
  
div#page-body {width: 940px;}

  a {color: inherit; text-decoration: none;}
a:visited {color: white;}
::selection {background: #989898; /* WebKit/Blink Browsers */}
::-moz-selection {background: #989898; /* Gecko Browsers */}
a:link { color: inherit;}
a:hover{text-decoration: none!important;}
a.topictitle:visited {color: inherit; text-decoration: none;}
a.topictitle:link {color: inherit; text-decoration: none; text-transform: uppercase;
    font-family: poppins, sans-serif; font-weight: 500;}
a.gen, a.genmed, a.gensmall {color: inherit;text-decoration: none;}
a.gen:hover, a.genmed:hover, a.gensmall:hover {color: none; text-decoration: underline;}
.section h1 b {font-weight: inherit;}

/**************CATEGORIES**********/
.maintitle {padding: 20px 0px 20px 20px;height: 40px;color: #eeeeee;  text-transform: uppercase;position: relative;overflow: hidden;width: 920px;margin-left: 2px;}
  .glowup-cat-title {font: 35px Poppins; line-height: 25px;font-weight: 200!important;letter-spacing: 1px; position: relative; z-index: 1;}
  .glowup-cat-title h2 {font: 35px Poppins; line-height: 25px; font-weight: 200!important;letter-spacing: 1px;position: relative; z-index: 1; color: white; padding: 0; margin: 0;
                        text-shadow: -0.7px -0.7px 2px var(--accent350), 0.7px -0.7px 2px var(--accent350), -0.7px 0.7px 2px var(--accent350), 0.7px 0.7px 2px var(--accent350);}
  .glowup-cat-title b {font-weight: 800!important; line-height: 25px;}
  .glowup-cat-title ht {font: 10px Hind;font-weight: 800!important;line-height: 10px;padding-top: 10px;letter-spacing: 2px; position: relative;z-index: 1; display: block;color: white;}



/******************SIDEBAR****************************/
.sidebar {position: fixed;display: flex;left: 0;margin: 10px;z-index: 14;width: 65px;height: auto;justify-content: flex-start;background: #f3f3f380;backdrop-filter: blur(5px);border-radius: 10px;
    flex-direction: column;align-content: center;flex-wrap: nowrap;align-items: center;}
.sidebarlinks {position: sticky;top: 75px;display: flex;flex-direction: column;flex-wrap: nowrap;align-content: center;justify-content: center;align-items: center;}
up-b {width: 50%;font-size: 20px;height: 30px;text-align: center;display: inline-block;}
.sidebarlinks a {height: 34px;position: relative;width: 50px;font-size: 20px;text-align: center;display: inline-flex;align-items: center;flex-direction: column;flex-wrap: nowrap;justify-content: center;}
dark-b {width: 50px; font-size: 20px; height: 30px; color: white; text-align: center; display: block;}
down-b {display: inline-block;width: 50%;font-size: 20px;}
.switcheroo__squircles{flex-direction: column;}
.directionsarrows {margin-top: 10px;}

/******************PROFILE****************************/

.wrapper {width: 940px;position: relative; margin-top: -25px;}
.overbanner {background-image: url(https://images2.imgbox.com/04/c8/6HaSCOAA_o.png); width: 1118px; height: 464px;position: absolute; z-index: 500; margin-left: -110px;
    background-size: 100%; margin-top: -37px; animation: overshake 6s linear infinite;}
.underbanner {opacity: 0.35; filter: blur(50px); width: 118%; height: 660px; position: absolute; top: -95px; left: -80px; z-index: -1;}
.underbanner img {height: 100%; width: 100%;}
.banner {width: 100%; position: relative; z-index: 2; margin-top: 30px; height: 450px; overflow: hidden; outline: 1px solid white;outline-offset: 7px;border-radius: 5px;}
headertitle {width: 100%; height: 100%; display: flex; flex-direction: column; position: absolute; top: 0; left: 0; z-index: 2; align-items: center;
    justify-content: center; padding-bottom: 8px; color: #ffffff; font-size: 150px;text-transform: uppercase; font-weight: 300; font-family: 'magnaregular'; animation: shake-title 6s linear infinite;}
headergrd {width: 100%; height: 100%; mix-blend-mode: saturation; display: block; position: absolute; top: 0; left: 0; z-index: 1; background: linear-gradient(180deg, rgba(var(--accent2),0.1), rgba(var(--accent2),0.2));}
.banner img {object-fit: cover; filter: grayscale(0.9) contrast(0.8); width: 100%;}

 @keyframes shake-title{00%{margin-top: 0px;}25%{margin-top: -25px;}50%{margin-top: 0px;}75%{margin-top: 25px;}100%{margin-top: 0px;}}
  @keyframes overshake{00%{margin-top: -37px;}25%{margin-top: -62px;}50%{margin-top: -37px;}75%{margin-top: -12px;}100%{margin-top: -37px;}}

.mainsite {z-index: 2; position: relative; box-sizing: border-box; flex-wrap: wrap;
    display: flex; justify-content: space-between; align-items: stretch; margin-top: 25px; margin-bottom: 25px;  height: auto; width: 940px;}

/**EMOTES**/
#sceditor_smilies {background-color: var(--greybg);}
#sce_smilies_body {background-color: var(--greybg);background-image: none; min-width: 1px!important;margin:0!important;}
#sceditor_smilies #smilies_header {background-color: var(--greybg);}

      /****************QUICK REPLY**********************/
table.wiccaquickreply{margin-left: 65px; width: 1026px; border-top: 10px solid #00000000;background: var(--greybg);
  border-bottom: 5px solid var(--greybg);display: block;}
.wiccaquickreply td.row2{width: 975px;}
.sceditor-container {background-color: #ffffff00!important; border: 1px solid #ffffff00!important; border-bottom: 1px solid var(--greybg)!important;}
div.sceditor-toolbar{background: var(--greybg)!important; border-bottom-color: var(--greybg)!important;
    border-radius: 0!important; margin-top: -1px!important; padding: 0!important;
    width: 100%!important; display: block!important;}
input.liteoption {background-color: var(--greybg); padding: 5px; border-radius: 5px; border-width: 0;
    text-transform: uppercase; font-weight: bold;margin-top: 8px;
  text-shadow: -1px -1px 0 #1C1515, 1px -1px 0 #1C1515, -1px 1px 0 #1C1515, 1px 1px 0 #1C1515;
    font-family: poppins, sans-serif; margin-bottom: 8px; color: #606060b3; letter-spacing: 1px;}
input.mainoption {background-color: var(--greybg); padding: 5px; border-radius: 5px; border-width: 0;
    text-transform: uppercase; font-weight: bold;margin-top: 8px;
  text-shadow: -1px -1px 0 #1C1515, 1px -1px 0 #1C1515, -1px 1px 0 #1C1515, 1px 1px 0 #1C1515;
    font-family: poppins, sans-serif; margin-bottom: 8px; color: #606060b3; letter-spacing: 1px;}
div.sceditor-group{background: #4343435c!important;border-bottom:none!important;}
form#quick_reply{padding: 0;margin: 0!important;width: 1026px;}
.sceditor-container textarea{color:#cecece!important;}




/*****************NAVIGATION***************/
.topbar {position: sticky;top: 0; z-index: 999; display: grid; grid-template: "icon username links" / 70px auto auto; align-items: center; column-gap: 15px;width: 100%; height: 70px;margin: 0px 0px 16px 0px; 
    backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); background: var(--bg1bis); left: 0px;-webkit-transition: -webkit-transform 1.2s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: -moz-transform 1.6s cubic-bezier(0.86, 0, 0.07, 1); transition: transform 1.6s cubic-bezier(0.86, 0, 0.07, 1);}

.topbar.hidden {-webkit-transform: translateY(-100%);-moz-transform: translateY(-100%);-ms-transform: translateY(-100%);-o-transform: translateY(-100%); transform: translateY(-100%);}
  
.topbar user-pic img {width: 50px;height: 50px; border-radius: 50%; margin-left: 10px;object-fit: cover;}
.topbar .username {font: 700 28px var(--header); text-transform: lowercase;  letter-spacing: 0;display: flex;line-height: 100%;}
  user-grad {background-size: 100% 35%!important;background: linear-gradient(97deg, var(--accent6) 5%, var(--accent7) 95%) left bottom no-repeat;}
.topbar .links {display: flex;grid-area: links;}
span#topbarspace {width: 100%; padding-right: 25px; display: flex; column-gap: 10px; justify-content: flex-end;}
.topbar .links a {display: flex;align-items: center;height: 38px;background: var(--bg2);border-radius: 5px;color: var(--body); font-family:'Poppins'; text-transform: uppercase;
    font-weight: 400; text-align: left; padding: 0 12px; max-width: 14px;overflow: hidden; font-size: 11px; z-index: 20;transition: 1s ease; margin-left: -10px;white-space: nowrap;}
.topbar .links a:hover {max-width: 200px;transition: 1s ease;}

.topbar .username a {color: #545454;}
.links a[href="/calendar"], .links a[href="/faq"], .links a[href="/images"], .links a[href="/search"]{display: none!important;} 
.links a[href="/memberlist"]:before, .links a[href="/groups"]:before, .links a[href="/profile?mode=editprofile"]:before, .links a[href="/privmsg?folder=inbox"]:before, .links a[href="/"]:before, .links a[id="logout"]:before, .links a[href="/register"]:before, .links a[href="/login"]:before {
  position: initial;content: "\eda7";  font-family:'Phosphor';font-size: 18px;color: #333;width: 23px;height: 20px;padding-right: 10px;padding-top: 2px;margin-left: -2px;}
.links a[href="/groups"]:before{content:"\edab"}
.links a[href="/profile?mode=editprofile"]:before{content:"\eda1"}
.links a[href="/privmsg?folder=inbox"]:before{content:"\ec48"}
.links a[href="/"]:before{content:"\eb9d"}
.links a[id="logout"]:before{content:"\ecea"}
.links a[href="/login"]:before{content:"\ec4d"}
.links a[href="/register"]:before{content:"\ece9"}
.mainmenu img {display: none;}

/******************NAVIGATION TREE****************************/
.navbar {outline-offset: 6px;margin: 14px 9px;text-transform: uppercase;text-align: left;padding: 7px;background: #f3f3f380;outline: 1px solid white;width: 100%;border-radius: 5px;display: grid;
         justify-content: space-between;grid-template: "navbar pagination";}
  
 a.navlink { font-size: 11px; display: inline-block;  vertical-align: middle;  font-weight: bold;  background: var(--bg2);  padding: 5px 8px;
    border-radius: 9px;  margin: 0px 3px;}
  
.navbar h1 {display: inline-block;vertical-align: middle;  font-size: 10px; background: var(--bg2);  border-radius: 9px;  margin: 0px 3px;padding: 5px 8px;}
.navbar ht {display: none;}

.navbar2 h1{display: inline-block;vertical-align: middle; font-size: 10px; background: var(--bg2); border-radius: 9px; margin: 0px 3px;padding: 5px 8px;}
.navbar2 {outline-offset: 6px;margin: 14px 9px;text-transform: uppercase;text-align: left;padding: 7px;background: #f3f3f380;outline: 1px solid white;width: 100%;border-radius: 5px;display: grid;
         justify-content: space-between;grid-template: "navbar pagination";}

.navbar2 ht {display: none;}
  
  .navicon { display: inline-grid;  vertical-align: middle; background: var(--bg2); border-radius: 9px; margin-right: 3px;  padding: 5px; font-size: 17px;
    width: 15px; height: 15px; place-content: center;}

/*****************dark mode***************/
/*toggle*/
.theme-switch-wrapper {align-items: center;z-index: 99;display: flex;justify-content: center;
    flex-direction: column;flex-wrap: nowrap;width: 100%;}
.theme-switch input {display:none;}
.onoffbuttonmode {font-size: 23px;}

.slider:before {
  background-color: var(--blanc);
  bottom: 4px;
  content: "";
  height: 12px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 12px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}


/*****************PANNEAU ADMIN***************/


/*****************LISTE DES MEMBRES***************/

/*****************CODES DE BASE***************/

    
/*****************BARRE DE NAVIG LATERALE**************/
::-webkit-scrollbar {width: 11px;height: 11px; background: #ffffff99; border: 5px solid #e8e8e8;}
::-webkit-scrollbar-thumb {background-color: var(--accent3);border: 5px solid #e8e8e8;}

/**************CATEGORIES**********/


.section {display: grid;height: 100%;row-gap: 20px;width: 890px;margin: 0 auto;margin-bottom: 25px;background: #f3f3f380;outline: 1px solid white;outline-offset: -7px;
    backdrop-filter: blur(5px);border-radius: 10px;padding: 25px;}

.section-s {height: 180px;background: linear-gradient(to bottom right, #a09bab2b, #a09bab82);display: grid;background-color: #d3d3d33b;position: relative;margin-left: 2px;outline-offset: -6px;
            outline: 1px solid #ffffff85;overflow: hidden;grid-template-columns: 25% 45% 30%;grid-template-rows: 72% 28%;width: 841px;border-radius: 5px;}
.section-s section-icon {width: 33px; height: 33px; display: grid; place-items: center; margin-top: 15px;  margin-left: 15px; font-size: 23px;  color: white;  z-index: 21;
    background: linear-gradient(to bottom right,#ffffff1f,#ffffff78); border: 1px solid #ffffffab;  grid-area: 1 / 1 / 2 / 2; backdrop-filter: blur(5px);}
.section-s h1 {grid-area: 1 / 1 / 2 / 2; display: grid; font-family: 'Poppins';text-transform: uppercase;  font-size: 23px; text-align: left; position: relative; z-index: 25; color: white;
    height: 49px; padding-left: 63px;font-weight: 700; font-style: italic; line-height: 36px; place-items: baseline; width: 524px;  margin-top: 12px;}
.section-desc {grid-area: 1 / 1 / 3 / 4; text-align: justify; color: #2e2e2e;  display: grid;  line-height: 15px; font-size: 9px;  height: 100%;
    z-index: 15;  width: 100%; text-transform: uppercase;font-family: 'Hind';}
.section-desc catpic {position: absolute; right: 0px;  z-index: -1; top: -15px; height: 109%; width: 109%;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(#ffffff00), to(#000000)); right: 0;}
.section-desc catpic:before {content: ""; position: absolute;  width: 105%;  background: #c1bec77a; height: 100%; z-index: 12;}
.section-desc catpic img {width: 100%; height: 100%; object-fit: cover; mix-blend-mode: overlay; filter: contrast(40%) brightness(110%) grayscale(100%); position: absolute;  z-index: 11; opacity: .5;}
descplace {position: absolute; width: 514px;top: 60px; left: 60px; padding: 7px; background: #00000024; height: 41px; overflow: auto; font-size: 8px;
    line-height: 10px; color: white;font-weight: 600;}
.section-subfo { display: inline-block; height: auto; width: auto; grid-area: 2 / 1 / 3 / 4; position: relative; text-align: left; padding: 9px 6px 0;
    background: #7171711f; z-index: 24;}
.section-subfo a {margin: 6px; outline-offset: 4px; outline: 1px solid #ffffff; padding: 5px; border-radius: 2px; display: inline-block; font-size: 8px;
    width: auto; background: #ffffff; text-transform: uppercase; font-weight: 600;}
.section-pic {right: -25px; top: -25px; display: grid; border-radius: 100%; grid-area: 1 / 3 / 2 / 4;  padding: 33px;  background: linear-gradient(to bottom right,var(--accent4),var(--accent5));
    width: fit-content; height: fit-content; position: absolute;  z-index: 25; opacity: 0.6;}
.section-pic user-pic {background: #fff; border-radius: 100%;  padding: 5px;}
.section-pic user-pic img {display: block; width: 80px; height: 80px; background-size: cover !important; border-radius: 100%;  filter: grayscale(1) brightness(1) contrast(0.5);
    object-fit: cover;  mix-blend-mode: darken;}
.section-desc descicon {position: absolute; font-size: 82px; z-index: 3; color: white; opacity: 0.3;  mix-blend-mode: overlay;  width: 96%;  text-align: right;  padding: 5px;}

section-last-com {grid-area: 1 / 3 / 2 / 4; position: relative; z-index: 30; width: 150px; font-weight: 600; color: #fff; text-align: right; padding: 23px 20px 0 10px; display: grid;
    height: 100%; line-height: 22px; font-size: 10px; margin-left: -19px; font-family: 'Hind';}
section-last-com span a { font-size: 18px; font-family:'Playfair Display'; font-style: italic; text-transform: lowercase;  white-space: pre-wrap;  display: -webkit-box;
    max-width: 100%; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; text-align: right; margin-top: -5px;
    line-height: 21px; margin-bottom: -20px;}
section-last-com span a.gensmall {}
.section-stats {grid-area: 1 / 1 / 2 / 2; left: 0; position: absolute;width: 42px; padding: 9px; margin-top: 51px; z-index: 50;margin-left: 4px;}
a.last-post-icon {margin-top: -15px; position: relative;}
section-last-com span {text-transform: uppercase;display: inline-block; vertical-align: middle;}
section-last-com strong {display: inline-block; vertical-align: middle;}

.section-stats topics, .section-stats mess {text-align: center;width: 34px; display: grid; height: 30px; place-content: center; margin-left: 3px; margin-top: -2px;}
.section-stats topics b, .section-stats mess b {color: #ffffff; width: 35px; font-size: 13px; position: absolute; z-index: 12; height: 35px; padding-top: 6px;}
.section-stats topics i, .section-stats mess i {position: relative;font-size: 34px;color: #ffffff52;}
.section-stats mess{margin-top: 3px;}
section-notif {grid-area: 1 / 1 / 2 / 2;}
section-notif img {width: 33px;height: 33px;object-fit: cover; top: 16px; position: relative; left: 16px;}

.category-001 .section, .category-003 .section, .category-005 .section {grid-template: "section1 section2 section3"; column-gap: 10px;row-gap: 10px;}
.category-001 .section-s, .category-003 .section-s, .category-005 .section-s {height: 215px; overflow: hidden; grid-template-columns: 30% 51% 19%; grid-template-rows: 23% 6% 28% 43%;  width: 288px;}
.category-001 .section-s h1, .category-003 .section-s h1, .category-005 .section-s h1{width: 182px; margin: 20px; text-shadow: none; height: auto; letter-spacing: -1px;
    line-height: 29px; margin-left: -14px; margin-top: 17px;  padding-left: 0px; font-style: initial;  grid-area: 1 / 2 / 2 / 3;}
.category-001 .section-desc, .category-003 .section-desc, .category-005 .section-desc{color: #fff; font-size: 10px; padding: 8px; overflow: auto; grid-area: 1 / 1 / 5 / 4;}
.category-001 .section-desc catpic{grid-area: 1 / 1 / 5 / 4;}
.category-001 descplace{grid-area: 2 / 1 / 3 / 4;width: 210px; top: 0; left: 0; margin: 14px 22px;max-height: 56px; height: auto; font-size: 9px;font-weight: 500;}
.category-001 .section-subfo{grid-area: 3 / 1 / 4 / 4; width: auto; height: auto;padding: 4px 21px; background: none; text-align: center;}
.category-001 .section-pic, .category-003 .section-pic, .category-005 .section-pic {background: #a9a7ad; width: 50px; height: 50px; grid-area: 4 / 1 /5 / 2; right: -15px;
    top: 25px; padding: 0; position: relative; opacity: 1;}
.category-001 user-pic-gradient, .category-003 user-pic-gradient, .category-005 user-pic-gradient {background: linear-gradient(to bottom right,var(--accent4),var(--accent5));
  mix-blend-mode: darken; opacity: 0.8;  width: 110px; height: 110px; position: absolute; border-radius: 100%; padding: 10px; margin-left: -46px; margin-top: -29px;}
.category-001 user-pic, .category-003 user-pic, .category-005 user-pic {padding: 0; background: none; width: 50px; height: 50px;}
.category-001 user-pic img, .category-003 user-pic img, .category-005 user-pic img{width: 50px; height: 50px; mix-blend-mode: overlay;}

.category-001 section-last-com, .category-003 section-last-com, .category-005 section-last-com {grid-area: 4 / 2 / 5 / 3; width: 100%; text-align: center; text-transform: uppercase; margin-left: 0; color: #fff; font-weight: 700;
    line-height: 14px; margin-top: 26px; padding: 0;}
.category-001 section-last-com a, .category-003 section-last-com a, .category-005 section-last-com a {border-bottom: 1px solid #fff; font-size: 16px; -webkit-line-clamp: 1;margin-bottom: -9px; padding-bottom: 3px; text-align: center;}
.category-001 section-last-com strong a.gensmall, .category-003 section-last-com strong a.gensmall, .category-005 section-last-com strong a.gensmall {border-bottom: none; display: inline-block; font-size: 10px; 
  font-family: 'Hind'; text-transform: uppercase; font-style: inherit; vertical-align: middle;}
.category-001 section-last-com a.last-post-icon, .category-003 section-last-com a.last-post-icon, .category-005 section-last-com a.last-post-icon {display: inline-block; border-bottom: none; vertical-align: middle; margin-top: -7px;}

.category-001 .section-stats, .category-003 .section-stats, .category-005 .section-stats{grid-area: 4 / 3 / 5 / 4; margin-top: 13px; margin-left: -3px;z-index: 30;}
.category-001 .section-desc catpic img{opacity: 0.3;}
.category-001 .section-subfo a {font-size: 10px;}

.category-002 .section, .category-004 .section {align-items: center; grid-template: "section1 section2";row-gap: 10px;column-gap: 10px;}
.category-002 .section-s, .category-004 .section-s {height: 230px; width: 438px; grid-template-columns: 16% 64% 20%; grid-template-rows: 21% 31% 14% 35%; margin-top: auto; margin-bottom: auto;}
.category-002 .section-s:nth-child(1) {height: auto; grid-template-columns: 12% 31% 6% 51%; grid-template-rows: 39% 61%; width: 888px; grid-area: 1 / 1 / 2 / 3;}
.category-002 .section-s:nth-child(1) section-notif {width: 60px; height: 60px; margin-top: 21px; margin-left: 21px;}
.category-002 .section-s:nth-child(1) section-icon {width: 60px; height: 60px; margin-top: 20px; margin-left: 20px; font-size: 47px;}
.category-002 .section-s:nth-child(1) h1 {grid-area: 1 / 2 / 2 / 4; font-size: 70px; width: 100%; margin: 17px; letter-spacing: -1px; line-height: 90%;font-style: initial; padding-left: 0;}
.category-002 .section-s:nth-child(1) .section-desc { grid-area: 1 / 1 / 3 / 5;}
.category-002 .section-s:nth-child(1) descplace { grid-area: 1 / 4 / 2 / 5; top: 0; left: 0; color: #fff;  background: none; width: 88%; height: 91%; font-size: 12px;  line-height: 12px; padding: 14px;margin: 12px;}
.category-002 .section-s:nth-child(1) .section-subfo { grid-area: 2 / 4 / 3 / 4; padding: 6px; height: auto; background: none;}
.category-002 .section-s:nth-child(1) .section-subfo a {text-align: center; width: 63px; border-radius: 6px; padding: 9px;  height: 21px;  display: inline-flex;  place-content: center; place-items: center;
    margin: 9px; box-shadow: inset 0 0 12px #ffffff38, inset 0 0px 18px #0000003b; opacity: 0.8;color: white; transition: all ease 0.4s;font-size: 9px;}
.category-002 .section-s:nth-child(1) .section-subfo a:nth-child(1) {background: linear-gradient(to bottom right,#4d39ba8a,#3418508a);}
.category-002 .section-s:nth-child(1) .section-subfo a:nth-child(2) {background: linear-gradient(to bottom right,#3a3abe8a,#181c508a);}
.category-002 .section-s:nth-child(1) .section-subfo a:nth-child(3) {background: linear-gradient(to bottom right,#3f94ba8a,#18504f8a);}
.category-002 .section-s:nth-child(1) .section-subfo a:nth-child(4) {background: linear-gradient(to bottom right,#3fb77b8a,#1850248a);}
.category-002 .section-s:nth-child(1) .section-subfo a:nth-child(5) {background: linear-gradient(to bottom right,#9d40b48a,#5018448a);}
.category-002 .section-s:nth-child(1) .section-subfo a:nth-child(6) {background: linear-gradient(to bottom right,#b83d578a,#5018298a);}
.category-002 .section-s:nth-child(1) .section-subfo a:nth-child(7) {background: linear-gradient(to bottom right,#bd77398a,#503a188a);}
.category-002 .section-s:nth-child(1) .section-subfo a:nth-child(8) {background: linear-gradient(to bottom right,#8fb73b8a,#4a50188a);}
.category-002 .section-s:nth-child(1) .section-subfo a:hover{box-shadow: inset 0 0 10px #4a4a4a12, inset 0 0px 20px #00000014; opacity: 1;}
.category-002 .section-s:nth-child(1) .section-pic {grid-area: 2 / 1 / 3 / 3; top: 20px; left: 20px; background: none; z-index: 10;}
.category-002 .section-s:nth-child(1) user-pic-gradient{mix-blend-mode: screen; opacity: 0.8;  width: 100px; height: 100px; position: absolute; border-radius: 100%; padding: 10px; margin-left: -63px;
    margin-top: -30px; z-index: 16;}
.category-002 .section-s:nth-child(1) user-pic {width: 80px;height: 80px; padding: 0; background: none; margin-top: -21px; margin-left: -5px;outline: none;}
.category-002 .section-s:nth-child(1) user-pic img {width: 60px;height: 60px;margin: 10px;border-radius: 100%; margin-top: 22px; margin-right: -19px;}
.category-002 .section-s:nth-child(1) section-last-com {grid-area: 2 / 1 / 3 / 3; background: linear-gradient(to bottom right,#ffffff1f,#ffffff78); border: 1px solid #ffffffab; z-index: 9; margin-left: 0;
    width: auto; text-align: center; color: #646464; font-weight: 700; margin-top: 30px; height: 70px; padding: 10px 10px 0 130px; line-height: 14px;}
.category-002 .section-s:nth-child(1) section-last-com span a {-webkit-line-clamp: 1; margin-top: -11px;  margin-bottom: -20px;  padding-bottom: 3px;}
.category-002 .section-s:nth-child(1) section-last-com strong strong {background: none; padding: 0;  margin-top: 0; margin-right: 0;}
.category-002 .section-s:nth-child(1) section-last-com strong a.gensmall {border-bottom: none; font-size: 12px; font-family: 'Hind'; text-transform: uppercase; font-style: initial; display: inline-block;
    margin-top: -10px; vertical-align: middle;}
.category-002 .section-s:nth-child(1) section-last-com a.last-post-icon {display: inline-block; border-bottom: none; vertical-align: middle; margin-top: 0px; margin-left: 2px;margin-bottom: 0; padding-bottom: 0;}
.category-002 .section-s:nth-child(1) .section-stats{ grid-area: 2 / 3 / 3 / 4; margin-top: 29px; padding: 4px;width: 50px;height: 100px; display: block;}
.category-002 .section-s:nth-child(1) .section-subfo span {display: inline-block;}
.category-002 .section-s:nth-child(1) .section-stats topics, .category-002 .section-s:nth-child(1) .section-stats mess {margin-left: 0px;}

.category-002 .section-s h1, .category-004 .section-s h1 {font-style: inherit; line-height: 30px; margin-top: 17px; width: auto; grid-area: 1 / 1 / 2 / 4;}
.category-002 .section-desc, .category-004 .section-desc {grid-area: 1 / 1 / 5 / 4;}
.category-002 .section-desc descplace, .category-004 .section-desc descplace {left: 0; width: auto; padding: 13px; margin: 0px 18px; font-size: 10px; height: max-content; grid-area: 2 / 1 / 3 / 4;top: 11px;
    max-height: 50px;}
.category-002 .section-subfo, .category-004 .section-subfo{padding: 0px 17px; text-transform: uppercase; text-align: center; background: none; grid-area: 3 / 1 / 4 / 4;}
.category-002 .section-subfo span, .category-004 .section-subfo span {width: 100%;display: flex;}
.category-002 .section-subfo a, .category-004 .section-subfo a {border-radius: 6px; font-size: 11px; width: 100%; display: inline-block; height: fit-content; margin: 10px;;}

.category-002 .section-pic, .category-004 .section-pic {background: #7a7a7a; width: 40px;  height: 40px;  margin-left: 26px;  margin-top: 21px;border-radius: initial;  padding: initial;  opacity: 1; 
    right: auto;  top: auto; grid-area: 4 / 1 / 5 / 2; z-index: 10}
.category-002 user-pic-gradient, .category-004 user-pic-gradient {mix-blend-mode: darken; opacity: 0.3;  width: 450px;height: 210px;background: linear-gradient(to bottom right,var(--accent4),var(--accent5));
    position: absolute; margin-top: -240px; margin-left: -29px; z-index: 3;}
.category-002 user-pic, .category-004 user-pic {display: grid; place-items: center;  width: 40px;  height: 40px;  outline-offset: 6px; outline: 1px solid white;  background: none;  border-radius: initial;  padding: initial;}
.category-002 user-pic img, .category-004 user-pic img { display: block; width: 40px;  height: 40px;  background-size: cover !important;filter: grayscale(1) brightness(1) contrast(0.5);  mix-blend-mode: overlay;  object-fit: cover;
  border-radius: initial;}
.category-002 section-last-com, .category-004 section-last-com {width: 307px; height: 50px; place-items: center; margin-top: 15px;  margin-left: 15px; font-size: 11px; color: #5f5f5f; background: linear-gradient(to bottom right,#ffffff1f,#ffffff78);
    border: 1px solid #ffffffab; line-height: 14px; grid-area: 4 / 2 / 5 / 4; padding: initial; text-align: center;}
.category-002 section-last-com span a {font-weight: 700; color: inherit; font-family: 'Hind'; font-style: normal; text-transform: uppercase; font-size: 11px; -webkit-line-clamp: 1; margin-top: 0px; margin-bottom: -16px;  text-align: center;}
.category-002 section-last-com strong a.gensmall {border-bottom: none; display: inline-block; font-size: 10px; text-transform: uppercase; margin-top: -10px; vertical-align: middle;}
.category-002 section-last-com a.last-post-icon {display: inline-block;border-bottom: none; vertical-align: middle;margin-bottom: 0;}
.category-002 .section-stats, .category-004 .section-stats {grid-area: 1 / 3 / 2 / 4; margin-top: 0;  width: 109px;  height: 40px; padding: 6px;display: inline-flex;
    place-content: center;  padding-top: 14px;}
.category-002 .section-stats topics, .category-004 .section-stats topics { margin-left: -59px;margin-top: 5px;}
.category-002 .section-stats mess, .category-004 .section-stats mess {margin-top: 4px;}

.category-003 .section-s {grid-template-rows: 26% 3% 22% 49%; height: 190px;}

.category-003 .section-s:nth-child(4) {width: 555px; grid-area: 2 / 1 / 3 / 3; height: auto;}
.category-003 .section-desc {display: none;}

.category-001 .section-subfo, .category-003 .section-subfo, .category-005 .section-subfo {background: none; grid-area: 3 / 1 / 4 / 4; padding: 0px 17px; display: flex;  text-align: center;  place-content: center; width: 233px;}
.category-003 .section-subfo a, .category-005 .section-subfo a { margin: 8px; font-size: 11px;}

.category-004 .section-subfo a {font-size: 8px;color: white;}
.category-004 .section-s:nth-child(2) .section-subfo a:nth-child(1) {background: linear-gradient(to bottom right,#4d39ba8a,#3418508a);}
.category-004 .section-s:nth-child(2) .section-subfo a:nth-child(2) {background: linear-gradient(to bottom right,#3a3abe8a,#181c508a);}
.category-004 .section-s:nth-child(2) .section-subfo a:nth-child(3) {background: linear-gradient(to bottom right,#3f94ba8a,#18504f8a);}
.category-004 .section-s:nth-child(2) .section-subfo a:nth-child(4) {background: linear-gradient(to bottom right,#3fb77b8a,#1850248a);}
.category-004 .section-s:nth-child(2) .section-subfo a:nth-child(5) {background: linear-gradient(to bottom right,#9d40b48a,#5018448a);}
.category-004 .section-s:nth-child(2) .section-subfo a:nth-child(6) {background: linear-gradient(to bottom right,#b83d578a,#5018298a);}
.category-004 .section-s:nth-child(2) .section-subfo a:nth-child(7) {background: linear-gradient(to bottom right,#bd77398a,#503a188a);}
.category-004 .section-s:nth-child(2) .section-subfo a:nth-child(8) {background: linear-gradient(to bottom right,#8fb73b8a,#4a50188a);}

.category-005 .section-subfo {display: inline-table; height: 100%;  width: 235px;}
.category-005 .section-subfo a {display: inline-block; font-size: 8px; width: auto;}

.category-seoul .section-s {width: 100%;height: 225px;grid-template-rows: 51% 24% 25%;grid-template-columns: 14% 56% 30%;}
.category-seoul section-notif {grid-area: 1 / 3 / 1 / 2;}
.category-seoul .section-s h1 {grid-area: 1 / 2 / 3 / 3;padding-left: 0px;}
.category-seoul .section-subfo {grid-area: 3 / 1 / 4 / 4;line-height: 0%;padding: 5px 10px 5px 10px;}
.category-seoul .section-subfo span {display: flex;flex-direction: row;flex-wrap: wrap;align-content: center;justify-content: center;align-items: center;height: 100%;line-height: 50%;}
.category-seoul section-last-com {grid-area: 2 / 2 / 3 / 4;margin-right: 0px;padding: 0px 15px 0px 0px;line-height: 20px;width: -webkit-fill-available;}
.category-001 section-last-com a.gensmall {font-family: 'Hind';font-style: inherit;}
.category-seoul a.last-post-icon {display: inline-block;vertical-align: middle;margin-top: -25px;}
.category-seoul strong {margin-top: -5px;}
.category-seoul .section-desc catpic img {filter: contrast(100%) brightness(110%) grayscale(100%);}
.category-seoul .section {grid-template: "section1 section2";column-gap: 10px;row-gap: 10px;}
.category-seoul .section-subfo a.gensmall {color: white;text-shadow: -0.7px -0.7px 2px var(--accent350), 0.7px -0.7px 2px var(--accent350), -0.7px 0.7px 2px var(--accent350), 0.7px 0.7px 2px var(--accent350);
    font-size: 11px;margin: 0px 3px 0px 3px;background: none;outline: none;}

/***************AUTRES ELEMENTS CATE**************/


/***************LISTE DES SUJETS**************/
.gunavforums {display: flex;width: -webkit-fill-available;align-items: center;justify-content: flex-start;justify-items: start;flex-direction: row;flex-wrap: nowrap;}
a.gunewtop {outline-offset: 6px;text-transform: uppercase;padding: 7px;outline: 1px solid white;border-radius: 5px;text-align: center;background: linear-gradient(to bottom right, var(--accent4), var(--accent5));
    margin-right: 13px;font-family: Poppins;color: white !important;font-weight: 500;height: 25px;width: 165px;margin-left: 8px;}

.gunavforums span.gensmall a {border-radius: 5px;text-align: center;background: linear-gradient(to bottom right, var(--accent4), var(--accent5));width: 11px;display: inline-block;height: 11px;padding: 7px;
    vertical-align: middle;align-content: center;font-size: 11px;color: white;font-weight: bold;}
.gunavforums span.gensmall b {border-radius: 5px;text-align: center;background: linear-gradient(to bottom right, #a09bab2b, #a09bab82);width: 11px;display: inline-block;height: 11px;padding: 7px;
    vertical-align: middle;align-content: center;font-size: 11px;color: white;margin-right: 5px;margin-left: 5px;}
.gunavforums span.gensmall a img {width: 12px;}
.topicsguwow {grid-row-gap: 10px;margin-bottom: 0px;}
.topiclistgu {height: 105px;overflow: hidden;grid-template-columns: 8% 62% 19% 11%;grid-template-rows: 21% 18% 33% 28%;display: grid;background: linear-gradient(to bottom right, #a09bab2b, #a09bab82);
    border-radius: 5px;outline-offset: -6px;outline: 1px solid #ffffff85;padding-bottom: 3px;padding-top: 5px;}

topicimgicon {width: 43px;height: 43px;grid-area: 1 / 1 / 4 / 2;place-items: center;margin-top: 15px;margin-left: 15px;font-size: 23px;color: var(--accent3);z-index: 21;
              background: linear-gradient(to bottom right, #ffffff1f, #ffffff78);border: 1px solid #ffffffab;backdrop-filter: blur(5px);place-items: center;display: grid;}
topicimgicon img {display: none;}
topicimgicon.Pas.de.nouveaux.messages {color: white;}

topictitlegu {display: grid;grid-area: 1 / 2 / 4 / 3;justify-items: start;align-content: center;justify-content: start;align-items: center;height: 100%;width: 100%;}
topictitlegu img{width: 1px;}
topictitlegu strong {font-family: poppins;text-transform: uppercase;font-size: 9px;margin-bottom: -5px;}
.topiclistgu a.topictitle {font-size: 17px;font-family: poppins;font-weight: 500;letter-spacing: -0.5px;color: white!important;text-transform: lowercase;}

.topicdescgu {text-transform: uppercase;font-size: 9px;font-weight: bold;font-family: 'Poppins';opacity: 50%;}

topicavagu {display: grid;grid-area: 1 / 3 / 5 / 5;justify-items: start;align-content: center;justify-content: start;align-items: center;height: 100%;width: 100%;mix-blend-mode: overlay;
    filter: grayscale(1) brightness(1) contrast(0.3);opacity: 50%;}
topicavagu img {max-width: 100%!important;object-fit: cover;}
topicavagu2 {display: flex;grid-area: 1 / 4 / 5 / 5;border-radius: 100%;padding: 15px;background: linear-gradient(to bottom right, var(--accent4), var(--accent5));width: fit-content;height: fit-content;
    align-items: center;justify-items: center;justify-content: center;flex-direction: row;flex-wrap: wrap;align-content: center;margin-left: 5px;margin-top: 12.5px;}
topicavagu2 img {width: 50px;height: 50px;object-fit: cover;border-radius: 100%;display: inline-flex;filter: grayscale(1) brightness(1) contrast(0.5);object-fit: cover;mix-blend-mode: darken;}

.topicnavpage {grid-area: 2 / 3 / 3 / 4;display: flex;z-index: 5;flex-direction: row;flex-wrap: nowrap;align-content: center;justify-content: flex-end;align-items: center;color: #ffffff00;}
.topicnavpage br {display: none;}
.topicnavpage a {border-radius: 5px;text-align: center;background: #696969c2;width: 11px;display: inline-block;height: 10px;padding: 3px;vertical-align: middle;align-content: center;
    font-size: 8px;color: white !important;font-weight: bold;margin: 2px;}

lastpostertopic {grid-area: 4 / 1 / 5 / 3;text-align: left;background: #7171711f;display: grid;align-items: center;align-content: center;justify-content: start;justify-items: start;font-size: 10px;
    text-transform: uppercase;padding-left: 11px;font-family: 'Poppins';}

.postdetails {color: white;grid-area: 3 / 3 / 4 / 4;text-align: right;font-size: 11px;font-family: poppins;text-transform: uppercase;line-height: 110%;font-weight: bold;align-content: center;z-index: 5;}

participategu {grid-area: 2 / 3 / 4 / 4;display: flex;width: 30px;height: 30px;border-radius: 100%;margin-left: -15px;margin-top: 4px;background: linear-gradient(to bottom right, #ffffff1f, #ffffff78);
    border: 1px solid #ffffffab;backdrop-filter: blur(5px);align-content: center;justify-content: center;align-items: center;z-index: 6;}
participategu img {width: -webkit-fill-available;margin: 3px;object-fit: cover;border-radius: 100%;filter: grayscale(1) brightness(1) contrast(0.5);mix-blend-mode: darken;}

topicrepvues {display: grid;grid-template: "mess vues";grid-area: 4 / 2 / 5 / 3;align-content: center;align-items: center;justify-content: end;font-size: 10px;text-transform: uppercase;font-family: 'Poppins';}
topicreplies, topicvues {display: flex;align-items: center;margin-right: 15px;}
topicrepvues h1 {color: #353941;padding-right: 5px;font-size: inherit;}

.topiclistgu i.ph:before {font-family: "Phosphor" !important;content: "\e9b2";}
.note i.ph::before {content: "\ec15";font-family: "Phosphor" !important;}
.once i.ph:before {content: "\ebec";}


/***************QEEL*************************/

/************QUOTE CODE SPOILER HIDE********/
.codebox .quote {background-color: var(--greybg);border: var(--greybg);border-style: solid;border-width: 1px; color: #ffffff82;
  font-family: montserrat;font-size: 11px;line-height: 125%; padding: 10px;margin-top: 7px;}
.codebox span{text-transform: uppercase;font-family: poppins;}
.codebox .code{background-color: var(--greybg); border: solid 1px var(--greybg); color: #919191;
    width: 98%;padding: 5px;margin-top: 5px;}
.codebox .dt{font-family: montserrat;text-transform: uppercase;font-size: 11px;font-weight: bold;color: #3e3e3e;}
.spoiler_content{background-color: var(--greybg);border: 1px solid var(--greybg);padding: 5px; 
  font-family: montserrat;font-weight: 500;color:#838383;}
.codebox.spoiler dd.spoiler_closed{background-color: var(--greybg); border: 1px solid var(--greybg);margin-top: 5px;}
.codebox.spoiler dt{font-family: montserrat;text-transform: uppercase;font-weight: 700;font-size: 11px;color: #fff;}
.codebox.hidecode dd{padding: 5px;background-color: var(--greybg); border: 1px solid var(--greybg);}
.codebox dd {background-color: var(--greybg); border: solid 1px var(--greybg);  margin: 0;}

.selectCode{color: #444;cursor: pointer;float: right;font-family: montserrat; padding: 2px; font-size: 9px;text-transform: uppercase;
    font-weight: 700; letter-spacing: 1px;}

/************PROFILE SUJET*******************/
a.gutopicrepnew {outline-offset: 6px;text-transform: uppercase;padding: 7px;outline: 1px solid white;border-radius: 5px;text-align: center;background: linear-gradient(to bottom right, var(--accent4), var(--accent5));
    margin-right: 13px;font-family: Poppins;color: white !important;font-weight: 500;height: 25px;width: max-content;margin-left: 8px;display: inline-block;}

.navbar3 {outline-offset: 6px;margin: 14px 9px;text-transform: uppercase;text-align: left;padding: 7px;background: #f3f3f380;outline: 1px solid white;width: 100%;border-radius: 5px;display: grid;
         justify-content: space-between;grid-template: "navbar pagination";}
.navbar3 ht {display: none;}
.navbar3 .nav {display: inline-block;vertical-align: middle;background: var(--bg2);border-radius: 9px;margin: 0px 3px;padding: 5px 8px;}

.topicttgu {outline-offset: 6px;margin: 14px 9px;text-transform: uppercase;text-align: center;background: linear-gradient(to bottom right, #a09bab2b, #a09bab82);outline: 1px solid white;width: 924px;
            border-radius: 5px;display: block;align-content: center;justify-items: center;backdrop-filter: blur(5px);}
.topicttgu h1 {text-transform: lowercase;font-size: 26px;color: white;font-family: 'Poppins';}

.gupagetopic {margin-top: -15px;padding-bottom: 15px;}
.gupagetopic b {border-radius: 5px;text-align: center;background: linear-gradient(to bottom right, #a09bab38, #a09bab82);width: 11px;display: inline-block;height: 11px;padding: 7px;vertical-align: middle;
                align-content: center;font-size: 11px;color: white;margin-right: 5px;margin-left: 5px;}
.gupagetopic a {border-radius: 5px;text-align: center;background: linear-gradient(to bottom right, #a09bab94, #a09babbd);width: 11px;display: inline-block;height: 11px;padding: 7px;vertical-align: middle;
                align-content: center;font-size: 11px;color: white!important;margin-right: 5px;margin-left: 5px;font-weight: bold;}
.gupagetopic a img {width: 12px;}
.gutopicwrapper {width: 942px;display: flex;flex-direction: column;flex-wrap: nowrap;}
.topicwrapper2 {outline-offset: 6px;margin: 14px 9px;text-align: left;background: #f3f3f380;outline: 1px solid white;width: 924px;border-radius: 5px;}

.topicwrapper2 .post {width: 100%;height: fit-content;grid-template-columns: 227px 547px 150px;grid-template-rows: 150px 36px auto auto;display: grid;backdrop-filter: blur(5px);}
.postertopwrapper {width: 100%;background: linear-gradient(to bottom right, #a09bab2b, #a09bab82);height: 100%;border-radius: 5px 5px 0px 0px;grid-area: 1 / 1 / 2 / 4;}
.posteravawrapper {outline: 1px solid white;width: fit-content;outline-offset: 6px;border-radius: 5px;height: fit-content;grid-area: 1 / 1 / 4 / 2;margin: 20px;}
.posteravawrapper img {width: 200px;height: 320px;object-fit: cover;border-radius: 5px;}

.posteravagif {background: linear-gradient(315deg, var(--fondco2), var(--fondco1));width: 100%;height: 100%;-webkit-mask-image: linear-gradient(to bottom, #000 0, #000 0%, transparent 100%);
    display: block;border-radius: 0px 5px 0px 0px;grid-area: 1 / 3 / 2 / 4;}
.posteravagif2 {-webkit-mask-image: linear-gradient(to left, #000 0, #000 0%, transparent 100%);}
.posteravagif img {width: 100%;height: 100%;object-fit: cover;opacity: 0.5;filter: grayscale(1);}
.posteravawrapper:hover img {filter: grayscale(100%) brightness(100%) contrast(150%);}
.posteravainfos::before {content: "";height: 200px;width: 200px;position: absolute;top: -5px;left: 100px;background: radial-gradient(circle, #fdfdfd 0%, #00000000 70%, #00000000 100%);
    z-index: -1;opacity: 0.6;}
.posteravainfos::after {content: "";height: 300px;width: 300px;position: absolute;bottom: -160px;left: -40px;
    background: radial-gradient(circle, #fdfdfd 0%, #00000000 70%, #00000000 100%);z-index: -1;opacity: 0.6;}
.posteravawrapper:hover .posteravainfos {opacity: 1;-webkit-transition: 0.7s 0s;}
.posteravainfos {position: absolute;background: #a09bab82;top: 20px;left: 20px;border-radius: 5px;z-index: 10;width: 200px;height: 320px;overflow: hidden;transition: 0.7s 0s;
    -webkit-transition: 0.7s 0s;opacity: 0;}
.posternamewrapper {grid-area: 1 / 2 / 2 / 3;display: flex;flex-direction: row;flex-wrap: wrap;align-content: center;justify-content: flex-start;align-items: center; font-size: 24px;
    font-family: 'magnaregular';text-transform: uppercase;text-shadow: #ffffff9c 5px 0px 13px;}

.posterdatehere {color: #757575;font-family: poppins;font-weight: bold;font-size: 10px;height: 40px;letter-spacing: 1px;padding: 0 8px 0 15px;text-align: left;
    text-shadow: -1px -1px 0 #ffffff87, 1px -1px 0 #ffffff87, -1px 1px 0 #ffffff87, 1px 1px 0 #ffffff87;text-transform: uppercase;grid-area: 2 / 2 / 3 / 4;
    border-top: 1px solid white;border-bottom: 1px solid white;display: inline-flex;align-items: center;justify-content: space-between;}

thebuttonsthere a[href$="mode=quote"]:before {content: 'Citer'; padding: 4px 6px;font-weight: bold;}
thebuttonsthere a[href$="mode=delete"]:before  {content: 'Supprimer'; padding: 4px 6px;font-weight: bold;}
thebuttonsthere a[href$="mode=editpost"]:before  {content: 'Editer'; padding: 4px 6px;font-weight: bold;}
thebuttonsthere a[href^="/modcp?mode=ip"]:before {content: 'IP'; padding: 4px 6px;font-weight: bold;}
thebuttonsthere img{display:none;}
thebuttonsthere {display: flex;flex-direction: row;align-items: center;column-gap: 15px;}

/************PROFILE*******************/
.profilgu {grid-template-columns: 270px 20% 60% 20%;grid-template-rows: 500px 20% 80%;padding: 0px; width:930px;}

.image-fond {grid-area: 1 / 1 / 2 / 2;border-radius: 5px 0px 0px 0px;background-color: #595461;width: 100%;height: 100%;overflow: hidden;}
.image-fond span {display: none;}
.image-fond img {border-radius: 5px 0px 0px 0px;width: 100%;height: 100%;object-fit: cover;filter: contrast(130%) brightness(60%) grayscale(100%) brightness(100%);opacity: 30%;}

/******************SHOP****************************/


/**************PRÉLIENS****************************/


/*********ARTICLE**************/


/********LETTERBOX*************/


/*******SHIPPER 2**********/


/*****************SCENARIO****************/
